* {
    padding: 0;
    margin: 0;
}

.variant {
    height: 35px;
}

.variant-name-container {
    display: inline-block;
    line-height: 35px;
    width: 250px;
}

.variant.voted .variant-name-container {
    background: lightgreen;
}

.variant-name-container input {
    padding: 4px;
    margin: 4px;
    vertical-align: middle;
}

.variant-controls {
    visibility: hidden;
}

.variant:hover .variant-controls {
    visibility: visible;
}

.variant-control {
    width: 20px;
    height: 20px;
    border: 0;
    vertical-align: middle;
    background: no-repeat url(data:image/png;base64,%% img/icons.png base64 %%);
    cursor: pointer;
}

.variant-control.disabled {
    visibility: hidden;
}

.variant-move-up {
    background-position: 0 0;
}

.variant-move-up:hover {
    background-position: -20px 0;
}

.variant-move-down {
    background-position: -40px 0;
}

.variant-move-down:hover {
    background-position: -60px 0;
}

.variant-edit {
    background-position: -80px 0;
}

.variant-edit:hover {
    background-position: -100px 0;
}

.variant-vote-count {
    display: inline-block;
    line-height: 35px;
    width: 40px;
    text-align: right;
}

.variant-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: no-repeat center center;
    background-size: 30px;
    margin: 2px;
    vertical-align: middle;
}

#add-variant {
    padding: 4px;
}

#add-variant input {
    padding: 4px;
}

#options label {
    display: block;
    padding: 4px;
}

#options input {
    vertical-align: middle;
}
